.fixedbackground{
    background-image: none;
    // background-color: #262626;
    min-height: 100vh;
  
  }
  .roundedR {
    border-radius: 30px 30px 30px 30px;
   margin-top: 5%;
  }
//   table {
//     width: 100%;
//   }
  h4 {
    margin: 2rem 0rem 1rem;
  }
  
  .table-image {
    td, th {
      vertical-align: middle;
    }
  }
  .row
  {
      margin-top: 5%
  }