<div class="container container-fluid fixedbackground">
    <div>
        <button type="button" class="btn btn-default roundedR">Reboot</button>&nbsp;
        <button type="button" class="btn btn-default roundedR">Shutdown</button>&nbsp;
        <button type="button" class="btn btn-default roundedR">Firmware</button>&nbsp;
        <button type="button" class="btn btn-default roundedR">Config</button>&nbsp;
    </div>
    
            <div class="row">
              <div class="col-12">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                    <th scope="col"></th>
                      <th scope="col">Name</th>
                      <th scope="col">Status</th>
                      <th scope="col">Description</th>
                      <th scope="col">Serial Number</th>
                      <th scope="col">+</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck1" checked>
                            <label class="custom-control-label" for="customCheck1">1</label>
                        </div>
                      </td>
                      <td>EMG_fd28</td>
                      <td><span class="fa-stack fa-sm">
                            <i class="fa fa-exclamation fa-stack-1x fa-inverse" style="font-size:1em; padding-top:.2em"></i>
                            <i class="fa fa-exclamation-triangle fa-stack-1x" style="color:yellow;"></i>
                          </span>Connected
                          </td>
                      <td>Edge Management Gateway</td>
                      <td>LKAJHD878ASDF7F</td>
                      <td><i class="fa fa-ellipsis-v" aria-hidden="true"></i></td>
                    </tr>
                    <tr>
                      <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck2">
                            <label class="custom-control-label" for="customCheck2">2</label>
                        </div>
                      </td>
                      <td>EMG8200R12</td>
                      <td><i class="fa fa-globe" aria-hidden="true"></i>Disconnected</td>
                      <td>EMG8200R12_Console_Server</td>
                      <td>LASKJLKAS989</td>
                      <td><i class="fa fa-ellipsis-v" aria-hidden="true"></i></td>
                    </tr>
                    <tr>
                      <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck3">
                            <label class="custom-control-label" for="customCheck3">3</label>
                        </div>
                      </td>
                      <td>EMG8400R3</td>
                      <td><i class="fa fa-globe" aria-hidden="true"></i>Disconnected</td>
                      <td>EMG8400R3_Console_Server</td>
                      <td>AKJSHFAK76</td>
                      <td><i class="fa fa-ellipsis-v" aria-hidden="true"></i></td>
                    </tr>
                    <tr>
                            <td>
                              <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input" id="customCheck3">
                                  <label class="custom-control-label" for="customCheck3">3</label>
                              </div>
                            </td>
                            <td>GlenSLC8000_083a</td>
                            <td><i class="fa fa-globe" aria-hidden="true"></i>Disconnected</td>
                            <td>SLC8000 Advanced console Manager</td>
                            <td>AKJSHFAK76</td>
                            <td><i class="fa fa-ellipsis-v" aria-hidden="true"></i></td>
                          </tr>
                          <tr>
                                <td>
                                  <div class="custom-control custom-checkbox">
                                      <input type="checkbox" class="custom-control-input" id="customCheck3">
                                      <label class="custom-control-label" for="customCheck3">3</label>
                                  </div>
                                </td>
                                <td>GlenSLC8000_083a</td>
                                <td><i class="fa fa-globe" aria-hidden="true"></i>Disconnected</td>
                                <td>SLC8000 Advanced console Manager</td>
                                <td>AKJSHFAK76</td>
                                <td><i class="fa fa-ellipsis-v" aria-hidden="true"></i></td>
                              </tr>
                  </tbody>
                </table>
              </div>
            </div>
        
    
    </div>